version: '3'

services:

    kali:
        build: ./kali
        container_name: kali
        tty: true        
        networks:
            cyberrange:
                ipv4_address: 192.168.35.22

    parrotsec-core-build:
        # build: ./parrotsec
        build: 
            context: .
            dockerfile: ./parrotsec/Dockerfile.core       
        container_name: parrotsec-core
        tty: true       
        networks:
            cyberrange:
                ipv4_address: 192.168.35.23

    parrotsec-tools-sqlmap : 
        image: parrotsec/tools-sqlmap    
        container_name: parrotsec-sqlmap
        tty: true        
        networks:
            cyberrange:
                ipv4_address: 192.168.35.24

    parrotsec-tools-beef : 
        image: parrotsec/tools-beef    
        container_name: parrotsec-beef
        tty: true        
        networks:
            cyberrange:
                ipv4_address: 192.168.35.25

    parrotsec-tools-bettercap : 
        image: parrotsec/tools-bettercap    
        container_name: parrotsec-bettercap
        tty: true        
        networks:
            cyberrange:
                ipv4_address: 192.168.35.26

    parrotsec-tools-set : 
        image: parrotsec/tools-set   
        container_name: parrotsec-set
        tty: true        
        networks:
            cyberrange:
                ipv4_address: 192.168.35.27

    parrotsec-tools-metasploit : 
        image: parrotsec/tools-metasploit
        container_name: parrotsec-metasploit
        tty: true        
        networks:
            cyberrange:
                ipv4_address: 192.168.35.28

    parrotsec-tools-nmap : 
        image: parrotsec/tools-nmap
        container_name: parrotsec-nmap
        tty: true        
        networks:
            cyberrange:
                ipv4_address: 192.168.35.29

    parrotsec-security : 
        image: parrotsec/security
        container_name: parrotsec-security
        tty: true        
        networks:
            cyberrange:
                ipv4_address: 192.168.35.30

    # https://github.com/juice-shop/juice-shop
    owasp-juice-shop:
        image: bkimminich/juice-shop
        container_name: owasp-juice-shop
        tty: true
        ports:
            - 3000:3000
        networks:
            cyberrange:
                ipv4_address: 192.168.35.3

    postgresql:
        image: postgres:latest
        container_name: postgresql
        ports:
            - 5432:5432
        volumes:
            - ./postgres/init:/docker-entrypoint-initdb.d
        environment:
            POSTGRES_USER: msf
            POSTGRES_PASSWORD: msf
            POSTGRES_INITDB_ARGS: "--encoding=UTF-8"
        hostname: postgres
        restart: always
        user: root

        networks:
            cyberrange:
                ipv4_address: 192.168.35.4

    metasploitable2:
        # build: ./metasploitable
        build: 
            context: .
            dockerfile: ./metasploitable/Dockerfile.metasploitable2           
        container_name: metasploitable
        tty: true
        networks:
            cyberrange:
                ipv4_address: 192.168.35.5

    webgoat:
        build: 
            context: .
            dockerfile: ./webgoat/Dockerfile.webgoat        
        container_name: webgoat
        tty: true
        networks:
            cyberrange:
                ipv4_address: 192.168.35.6

networks:
    cyberrange:
        driver: bridge
        ipam:
            driver: default
            config:
                - subnet: 192.168.35.0/24
