127.0.0.1       localhost
192.168.1.254 master01      master01
192.168.1.253 compute01      compute01
192.168.1.252 compute02      compute02

# The following lines are desirable for IPv6 capable hosts
::1     localhost ip6-localhost ip6-loopback
ff02::1 ip6-allnodes
ff02::2 ip6-allrouters
